.modal__content_type_image {
  position: relative;
  box-sizing: border-box;
  width: 498px;
  padding: 0;
  overflow: hidden;
  border-radius: 16px;
  background-color: #ffffff;
}

.modal__image {
  display: block;
  width: 100%;
  height: 498px;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.modal__footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal__caption {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal__close {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal__close img {
  display: block;
  width: 20px;
  height: 20px;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__content_type_confirm {
  width: 350px;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal__confirm-text {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0 25px;
  color: #000000;
}

.modal__confirm-button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 15px;
  padding: 0;
}

.modal__confirm-button:hover {
  opacity: 0.8;
}

.modal__cancel-button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
}

.modal__cancel-button:hover {
  opacity: 0.7;
}

.modal__delete-button {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.modal__delete-button:hover {
  opacity: 0.8;
}
