.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: start;
  margin: 0 auto;
}

.sidebar__profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.sidebar__avatar {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
