.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 32px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  margin: 0;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.footer__year {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

@media screen and (max-width: 500px) {
  .footer {
    padding-bottom: 20px;
  }

  .footer__copyright,
  .footer__year {
    font-size: 14px;
    line-height: 18px;
  }
}
